body{
    background-color: lightgray;
}

.nav-link{
    font-weight: lighter;
}

.nav-link:hover{
    font-weight:bolder;
    background-color: #eee;
}

header{ 
    height: 600px;
    width: 100%;
    background-image:url("die.jpg");
    background-size:cover;
    text-align: left;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

header p{
    font-size: 30px;
}

header h1{
    font-size: 100px;
    
}

.aboutus {
    text-align: center;
}

.aboutus i{
    font-size: 30px;
    padding: 25px 20px;
    
    /*change the color*/
    color: #fff;
    background-color: #778899;
    
    /*resize contaner of icon*/
    width: 80px;
    height: 80px;
    
    /*make the container round*/
    border-radius: 50%;
}