body{
    background-color: lightgray;
}

.nav-link{
    font-weight: lighter;
}

.nav-link:hover{
    font-weight:bolder;
    background-color: #eee;
}

header{ 
    height: 600px;
    width: 100%;
    background-image:url("die.jpg");
    background-size:cover;
    text-align: left;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

header p{
    font-size: 30px;
}

header h1{
    font-size: 100px;
    
}

.aboutus {
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center;
}

.aboutus i{
    font-size: 60px;
    padding: 10px 10px;
    
    /*change the color*/
    color: #fff;
    background-color: #778899;
    
    /*resize contaner of icon*/
    width: 80px;
    height: 80px;
    
    /*make the container round*/
    border-radius: 50%;
}

.aboutus span{
    width: 200px;
    display: inline-block; 
}

.team{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.team img{
    width: 250px;
    height: 250px;
    /*object fit will crop and center based on width and height*/
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px
}

.getinvolved {
    background-color: #DFE4E7;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 100%;
    text-align: center;
    /* adds padding on top and bottom*/
    padding: 50px 0 80px;
}

.getinvolved h2{
    color: #79858C;
}

.options{
    padding: 30px;
    margin: 10px;
    border: 1px solid #ccc;
    
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.getinvolved i{
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.contact .btn{
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f0808;
    color: #fff;
}